.landing-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  background-color: #4C5B61;
}

.landing-header h1 {
  font-size: 42px;
}

.landing-header h1, .landing-header h2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #F7F7FF;
  margin: 0;
  padding: 20px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-section h3 {
  font-size: 28px;
}

.section-content-container {
  padding-left: 20px;
  padding-right: 20px;
}

.section-content-container p {
  line-height: 1.5;
}

/* Responsive - Desktop */

@media all and (min-width: 700px) {
  .landing-header h1 {
    font-size: 60px;
    letter-spacing: 10px;
  }

  .section-content-container {
    width: 75%;
  }
}