.landing-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.landing-header h1, .landing-header h2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content-container {
  width: 75%;
}

.section-content-container p {
  line-height: 1.5;
}