.signup-page {
  padding-bottom: 40px;
  padding-top: 20px;
}

.signup-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-page-header h2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;

}

.signup-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-page-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-page-form label {
  padding-bottom: 10px;
  padding-top: 10px;
}

.signup-page-form input {
  padding: 5px;
  font-size: 18px;
}

.login-page-section a {
  font-size: 18px;
}