@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

h1, h2, h3 {
  font-family: 'Bungee Hairline', sans-serif;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-top: 90px;
}

.app-full-screen {
  min-height: 100vh;
  display: block;
  padding-bottom: 100px;
}

.submit-button {
  padding: 5px;
  width: 5em;
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}