main {
  margin-top: 90px;
}

.app-full-screen {
  min-height: 100vh;
  display: block;
  padding-bottom: 100px;
}

.submit-button {
  padding: 5px;
  width: 5em;
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}