.login-page {
  padding-bottom: 40px;
  padding-top: 20px;
}

.login-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page-header h2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
}

.login-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page-section a {
  color: #4C5B61;
}