.dashboard {
  background-color: #4C5B61;
  height: 100vh;
}

.dashboard-header h1, .dashboard-header h2 {
  color: #F7F7FF;
  text-align: center;
}

.dashboard-header, .dashboard-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dashboard-link {
  padding-bottom: 20px;
}

