.dashboard {
  background-color: #4C5B61;
  height: 100vh;
}

.dashboard-header h1, .dashboard-header h2 {
  color: #F7F7FF;
  text-align: center;
}

.dashboard-header, .dashboard-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dashboard-link {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.plus-icon {
  font-size: 18px;
  color: #FFBA49;
}

.dashboard-link a {
  color: rgba( 255, 186, 73, 0.8);
  font-size: 18px;
  padding-left: 10px;
}