.footer-container {
  background-color: darkgray;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.footer-container p, .footer-container ul {
  color: #000;
  margin: 0;
  padding: 0 5px;
}

.footer-container ul li {
  list-style-type: none;
}

.footer-container ul li a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
