.footer-container {
  background-color: #2a3336;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.footer-container p {
  font-size: 16px;
}

.footer-container p, .footer-container ul {
  color: #F7F7FF;
  margin: 0;
  padding: 0 5px;
}

.footer-container ul {
  display: flex;
  flex-direction: row;
}

.footer-container ul li {
  list-style-type: none;
}

.footer-container ul li a {
  color: #F7F7FF;
  cursor: pointer;
  font-size: 24px;
}

/* Responsive - Desktop */

@media all and (min-width: 700px) {
  .footer-container p {
    font-size: 20px;
  }

  .footer-container ul li a {
    font-size: 36px;
  }
}