/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: darkslategray;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.footer p {
  font-size: 18px;
  color: #FFF;
}

.footer-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-links li:first-child {
  padding-bottom: 10px;
  font-size: 18px;
}

.footer-links li a {
  color: #FFF;
  text-decoration: none;
}